{
  "plugins": [
    "transform-proto-to-assign",
    "transform-flow-strip-types",
    "lodash",
    ["transform-runtime", { "polyfill": false }]
  ],
  "env": {
    "es5": {
      "presets": ["es2015-ie", "stage-0", "react"],
      "plugins": [
        "transform-remove-console",
        "transform-remove-debugger",
        "transform-minify-booleans"
      ]
    },
    "es6": {
      "presets": [
        [
          "es2015",
          {
            "modules": false
          }
        ],
        "stage-0",
        "react"
      ],
      "plugins": [
        "transform-remove-console",
        "transform-remove-debugger",
        "transform-minify-booleans"
      ]
    }
  }
}
