@signavio:registry=https://common.repositories.cloud.sap/artifactory/api/npm/signavio-npm-releases/
//common.repositories.cloud.sap/artifactory/api/npm/signavio-npm-releases/:_auth=:_authToken=${PIPER_VAULTCREDENTIAL_TOKEN}
//common.repositories.cloud.sap/artifactory/api/npm/signavio-npm-releases/:always-auth=true