version: 2.1

orbs:
  blackduck: signavio/blackduck@1.7.0
  fortify: signavio/fortify@1.0.0

executors:
  fortify:
    machine:
      image: ubuntu-2004:202104-01
    resource_class: 2xlarge

references:
  workspace_root: &workspace_root ~/repo

  container_config: &container_config
    docker:
      - image: circleci/node:latest

  dep_cache_key: &dep_cache_key deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
  dep_backup_cache_key: &dep_backup_cache_key deps-{{ .Branch }}

  restore_deps: &restore_deps
    restore_cache:
      keys:
        - *dep_cache_key
        - *dep_backup_cache_key

  publish_test_results: &publish_test_results
    store_test_results:
      path: ./junit.xml

  store_test_results: &store_test_results
    store_artifacts:
      path: junit.xml
      prefix: tests

jobs:
  build:
    <<: *container_config

    working_directory: *workspace_root

    steps:
      - checkout

      - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc

      - restore_cache:
          keys:
            - deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
            - *dep_backup_cache_key

      - run: yarn install

      - save_cache:
          key: deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - node_modules

  black-duck-scan:
    docker:
      - image: cimg/node:lts-browsers

    working_directory: *workspace_root

    steps:
      - checkout

      - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc

      - run: yarn install && yarn build

      - blackduck/blackduck-detect:
          blackduck-project-group: SAP_PROCESS_MANAGER_OD_2.0
          blackduck-project-name: i18n
          blackduck-project-path: *workspace_root

  fortify-translate-and-scan: 
    executor: fortify
    working_directory: *workspace_root
    steps:
      - checkout
      - fortify/setup
      - run:
          name: Translate i18n
          command: |
            set -x
            sourceanalyzer \
              -b i18n \
              -verbose \
              ./src
      - run:
          name: Analyze i18n
          command: |
            sourceanalyzer \
              -b i18n \
              -verbose \
              -scan \
              -f i18n.fpr
      - store_artifacts:
          path: i18n.fpr

  test:
    <<: *container_config

    working_directory: *workspace_root

    steps:
      - checkout

      - *restore_deps

      - run: yarn coverage --ci

      - *publish_test_results
      - *store_test_results

  lint:
    <<: *container_config

    working_directory: *workspace_root

    steps:
      - checkout

      - *restore_deps

      - run: yarn lint

  flow:
    <<: *container_config

    working_directory: *workspace_root

    steps:
      - checkout

      - *restore_deps

      - run: yarn flow

workflows:
  version: 2
  build_and_test:
    jobs:
      - build

      - test:
          requires:
            - build
      - lint:
          requires:
            - build

      - flow:
          requires:
            - build

  blackduck-nightly-scan:
    triggers:
      - schedule:
          cron: '0 0 * * *'
          filters:
            branches:
              only: master
    jobs:
      - black-duck-scan:
          context: BlackDuck

  fortify-workflow:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only: master
    jobs:
      - fortify-translate-and-scan:
          context:
            - fortify
